* {
  box-sizing: border-box;
}

.footer {
  background-color: #4c504d;
  padding: 20px; 
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #4c504d;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 50px;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

html {
  scroll-behavior: smooth; 
}

.nav-list {
  list-style: none;
}

.nav-link {
  position: relative;
  padding: 0 12px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
  line-height: 50px;
  color: #fff; 
}

.rss {
  width: 121px;
  height: 45px;
  background-image: url("./assets/rsschool.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.github {
  color: #fff;
  text-decoration: none;
  line-height: 45px;
}

.section-item {
  position: relative;
  padding-left: 30px;
}

.section-title {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #000;
  margin-left: 60px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  color: #fff;
}

.section-profile {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 50px 30px 35px;
  border-bottom: 1px solid #4c504d;
}

.section-profile-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;  
  text-transform: uppercase;
}

.main-title {
  position: relative;
  padding: 0;
  margin-bottom: 20px;
  color: #4d2323;
  font-size: 32px;
  font-weight: 300;
  letter-spacing: 10px;
  line-height: 50px;
  word-spacing: 3px;
  margin-left: 0;
}

.section-text {
  margin-left: 30px;
}

.header {
  background-color: #4c504d;
}

.pre {
  padding: 0;
  margin: 0;
}

